@import './bg-firefly.css';
@import './bg-starfield.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-1 px-4 border-gray-300 border-[1px] rounded hover:bg-gray-50;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
  .link-minor {
    @apply text-gray-400 hover:text-gray-800 cursor-pointer;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  color: black;
  padding-left: 6px;
}

.underlineLink {
  position: relative;
}

/* Underline Hyperlink - src: https://css-irl.info/animating-underlines/ */
.underlineLink::after,
.underlineLinkActive::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: lightblue;
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}

.underlineLink.underlineLinkActive::after {
  transform: scale(1);
}
.underlineLinkActive::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.underlineLink:hover::after,
.underlineLink:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.underlineLink::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.underlineLink:hover::after,
.underlineLink:focus::after {
  transform: scale(1);
}

/* Tutorial tooltip in WidgetSettings.tsx */
#setting-tutorial-tooltip {
  z-index: 1;
}
